In [1]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install openai

Requirement already satisfied: openai in /usr/local/lib/python3.7/dist-packages (0.10.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from openai) (4.62.3)
Requirement already satisfied: openpyxl>=3.0.7 in /usr/local/lib/python3.7/dist-packages (from openai) (3.0.9)
Requirement already satisfied: pandas-stubs>=1.1.0.11 in /usr/local/lib/python3.7/dist-packages (from openai) (1.2.0.33)
Requirement already satisfied: pandas>=1.2.3 in /usr/local/lib/python3.7/dist-packages (from openai) (1.3.4)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from openai) (2.23.0)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl>=3.0.7->openai) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.2.3->openai) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandas-stubs>=1.1.0.11->openai) (3.7.4.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.3->openai) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->openai) (1.24.3)

In [3]:
cd /content/drive/MyDrive/Colab Notebooks/GPT3_demo

/content/drive/MyDrive/Colab Notebooks/GPT3_demo

In [4]:
import openai
import json
from model import GPT

In [5]:
file = open("/content/drive/MyDrive/Colab Notebooks/constant.json")
content = json.load(file)
file.close()

In [6]:
openai.api_key = content["openAI-cred"]["Key"]

# SQL creation

In [ ]:
inputs = [
          "Fetch unique values of DEPARTMENT from Worker table.",
          "Print the first three characters of FIRST_NAME from Worker table.",
          "Find the position of the alphabet ('a') in the first name column 'Amitabh' from Worker table.",
          "Print the FIRST_NAME from Worker table after replacing 'a' with 'A'.",
          ]
outputs = [
           "Select distinct DEPARTMENT from Worker;",
           "Select substring(FIRST_NAME,1,3) from Worker;",
           "Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';",
           "Select CONCAT(FIRST_NAME, ' ', LAST_NAME) AS 'COMPLETE_NAME' from Worker;"
           ]
examples = list(zip(inputs, outputs))
gpt_sql = GPT(engine='davinci')   # loading model
for i in examples:
  gpt_sql.set_examples([i[0],i[1]])

In [ ]:
question ="Query to find Second Highest Salary of Employee." #@param {type:"string"}
response = gpt_sql.create_response(question)
print(response["choices"][0]["text"])

output:Select MAX(SALARY) from EMPLOYEE where DEPARTMENT = 'IT';

# Mongo creation

In [ ]:
examples = [
            ("Write a MongoDB query to find the restaurants who achieved a score more than 90.", "db.restaurants.find({grades : { $elemMatch:{'score':{$gt : 90}}}})"),
            ("Write a MongoDB query to display all the documents in the collection restaurants.", "db.restaurants.find();"),
            ("Write a MongoDB query to display the fields restaurant_id, name, borough and cuisine, but exclude the field _id for all the documents in the collection restaurant.","db.restaurants.find({},{'restaurant_id' : 1,'name':1,'borough':1,'cuisine' :1,'_id':0})"),
            ("Find the restaurants which locate in a latitude value less than -95.754168.","db.restaurants.find({'address.coord' : {$lt : -95.754168}})"),
            ("Find the restaurant Id, name, borough and cuisine for those restaurants which are not belonging to the borough Staten Island or Queens or Bronxor Brooklyn.", "db.restaurants.find({'borough' :{$nin :['Staten Island','Queens','Bronx','Brooklyn']}},{'restaurant_id' : 1,'name':1,'borough':1,'cuisine' :1})"),
            ("Find the restaurant Id, name, borough and cuisine for those restaurants which contain 'Wil' as first three letters for its name.","db.restaurants.find({name: /^Wil/},{'restaurant_id' : 1,'name':1,'borough':1,'cuisine' :1})")
]
gpt_mongo = GPT(engine='davinci')   # loading model
for i in examples:
  gpt_mongo.set_examples([i[0],i[1]])

In [ ]:
question ="Find all contacts with at least one work phone or hired after 2015-06-04" #@param {type:"string"}
response = gpt_mongo.create_response(question)
print(response["choices"][0]["text"])

output:db.contacts.find({'hired.at' : {$gte : new Date(2015, 6, 4)}, 'work.phones.length': {$gt : 0}})

# Jumble sentence

In [ ]:
examples = [
            ("work and play / things / different / parents see / as two", "Parents see work and play as two different things."),
            ("is a / of time / they / waste / think / that playing", "They think that playing is a waste of time."),
            ("important/games / studies / are as / as", "Games are as important as studies."),
            ("a student / to both / proper / should / attention / pay", "A student should pay attention too both.")
]
gpt_jumb = GPT(engine='curie-instruct-beta', max_tokens=64)   # loading model
for i in examples:
  gpt_jumb.set_examples([i[0],i[1]])

In [ ]:
question = [
            " can./ life / only / succeed / he / in / then",
            "leave/dishes/I/table/the/don’t/on/dirty",
            " fire/stopped/in/day/one/the/palace/the/burning"
]
for i in question:
    print("Question :", i,"\n ")
    response = gpt_jumb.create_response(i)
    print(response["choices"][0]["text"])

Question :  can./ life / only / succeed / he / in / then

output:He can only succeed in life if he works hard.
Question : leave/dishes/I/table/the/don’t/on/dirty


output:I don’t leave dishes on the table.
Question :  fire/stopped/in/day/one/the/palace/the/burning


output: The fire stopped in the palace the burning one day.

### not working fine

# CMD command generator

In [7]:
examples = [
            ("How do I copy a file?","cp filename.txt destination_filename.txt"),
            ("How do I duplicate a folder?", "cp -a foldername/ destination_folder/"),
            ("How do display a calendar?", "cal"),
            ("How do I find files that contain the word \"test\"?", "grep -i test *"),
            ("How do I figure out the running programs on my computer?", "ps aux")
]

gpt_cmd = GPT(engine='curie-instruct-beta', max_tokens=64)   # loading model
platform = "linux"
for i in examples:
  gpt_cmd.set_examples([i[0],i[1]])

In [9]:
question = "How do I put the computer to sleep?"  #@param {type: "string"}
initials = "I will tell you how to do a "+platform+" commands"

response = gpt_cmd.create_response(question, initials)
print(response["choices"][0]["text"])

output:sudo pm-suspend

# Synonyms

In [ ]:
examples = [
            ("Amazing","astounding, surprising, stunning"),
            ("Benefit", "profit, revenue, yield"),
            ("Injured", "damaged, wounded, harmed"),
            ("Vacant", "empty, deserted, uninhabited")
]
gpt_syn = GPT(engine='davinci', max_tokens=64)   # loading model
for i in examples:
  gpt_syn.set_examples([i[0],i[1]])

In [ ]:
question = "mistake"  #@param {type: "string"}
response = gpt_syn.create_response(question)
print(response["choices"][0]["text"])

output:error, blunder, fault